.titre {
  box-shadow: 1px 1px 10px grey;
  padding-top: 25px;
  position: sticky;
  top: 0px;
  background: white;
  z-index: 10;
}

body {
  background-color: whitesmoke;
}

.gitButton {
  justify-self: flex-end;
}

.gridBox {
  display: grid;
}

.column {
  margin: 1rem;
}

section {
  margin: 3rem 0 3rem 0;
}

li {
  list-style-image: url("../../images/bullet.png");
}
.randomButton {
  justify-self: center;
}

.hideText {
  display: none;
}

.box-container {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  margin-bottom: 25px;
  border-radius: 20px;
  box-shadow: 1px 5px 10px grey;
  padding: 20px;
}

.showTime {
  display: block;
}

ul {
	padding-top: 20px;
}

