.titre {
  box-shadow: 10px 5px 5px grey; /* -2px 4px 7px #808080a3 */
  margin-top: 25px;
  position: sticky;
  top: 0px;
}

.gitButton {
  justify-self: flex-end;
}

.gridBox {
  display: grid;
}

.column {
  margin: 1rem;
}

section {
  margin: 3rem 0 3rem 0;
}

.randomButton {
  justify-self: center;
}

.hideText {
  display: none;
}