.titre {
  box-shadow: 10px 5px 5px grey;
  padding-top: 25px ;
  position: sticky;
  top: 0px;
  background: white;
  z-index: 10;
}

body {
	background-color: whitesmoke;
}

.gitButton {
  justify-self: flex-end;
}

.gridBox {
  display: grid;
}

.column {
  margin: 1rem;
}

section {
  margin: 3rem 0 3rem 0;
}

li {
	list-style-image: url("../../images/bullet.png");

}
.randomButton {
  justify-self: center;
}

.hideText {
  display: none;
}